# Change this
DISCORD_TOKEN = "Bot Token"
GUILD_ID = "Server ID"

# Config
CHANNEL_DAILY = "Channel id for Daily Challenges"
LAVALINK_HOST = "Hostname with Port"
LAVALINK_PASSWORD = "Lavalink Password"

# Keep this for development
BOT_APIKEY = "PermitidoHacerCosas123"
