workspace = { members = ["crates/gen_welcome"] }

[package]
name = "cangrebot"
version = "0.1.0"
edition = "2021"
authors = [
    "Sergio Meneses <sergioalmeneses@gmail.com>",
    "Daniel Solarte <contact@danielsolarte.com>",
]
description = "A Discord Bot made with Rust from RustLangEs Community"
readme = "README.md"

[dependencies]
anyhow = "1.0.66"
shuttle-runtime = "0.42.0"
serenity = { version = "=0.12.0", default-features = true, features = [
    "cache",
    "framework",
    "client",
    "gateway",
    "rustls_backend",
    "model",
    "standard_framework",
    "voice",
] }
tokio = "1.26.0"
tracing = "0.1.37"
color-eyre = "0.6.2"
serde = "1.0.188"
serde_json = "1.0.105"
songbird = { version = "0.4.1", features = ["serenity"] }
reqwest = { version = "0.11.27", features = ["json"] } # Version used for songbird::inputs::YoutubeDl
scraper = { version = "0.19.0", features = [
    "indexmap",
    "deterministic",
    "atomic",
] }
symphonia = { version = "0.5.4", features = [
    "mp3",
    "ogg",
    "wav",
    "aac",
    "vorbis",
    "isomp4"
] }
axum = "0.7.5"
regex = "1.10.2"
once_cell = "1.18.0"

gen_welcome = { version = "0.1.0", path = "crates/gen_welcome" }

[dependencies.parking_lot]
version = "0.12"
features = ["send_guard"]
