[package]
name = "cangrebot"
version = "0.1.0"
authors = ["Sergio Meneses <sergioalmeneses@gmail.com>", "Daniel Solarte <contact@danielsolarte.com>"]
edition = "2018"
description = "A Discord Bot made with Rust from RustLangEs Community"
readme = "README.md"
repository = "https://github.com/RustLangES/cangrebot"
license = "MIT OR Apache-2.0"
homepage = "https://rustlanges.rs/"
keywords = ["rustlanges", "discord", "bot"]

[dependencies]
dotenv = "0.15"
serenity = { version = "0.10.4", features = ["cache", "framework", "standard_framework", "rustls_backend"] }
tokio = { version = "1", features = ["macros", "rt-multi-thread", "signal"] }
tracing = "0.1"
tracing-subscriber = "0.2"
tracing-error = "0.1"
color-eyre = "0.5"
config = "0.11"
serde = "1"

[[bin]]
name = "cangrebot"
